@mixin border-1px($way,$color){
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    #{$way}:0;
    width: 100%;
    border-top: 1px solid $color;
    @media screen and(-webkit-min-device-pixel-ratio: 2){
      transform:scaleY(0.5);
      transform-origin: 0 0;
    }
    @media screen and(-webkit-min-device-pixel-ratio: 3){
      transform:scaleY(0.3);
      transform-origin: 0 0;
    }
  }
}
@mixin bg-image($url){
  background-image: url($url + "@2x.png");
  @media screen and(-webkit-min-device-pixel-ratio: 3){
    background-image: url($url + "@3x.png");
  }
}
